<header data-bs-theme="dark">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
          {% if request.user.is_authenticated %}
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 style="margin-bottom: 5%">Actions</h4>
          <ul class="list-unstyled">

            <li><a style="margin-bottom: 5%" href="{% url 'accounts:user_signout' %}" class="btn btn-warning">Signout</a></li>
            <li><a style="margin-bottom: 5%" href="{% url 'home:create_relay' %}" class="btn btn-success">New relay</a></li>
            <li><a style="margin-bottom: 5%" href="{% url 'home:relay_list' %}" class="btn btn-primary">Relay List</a></li>

          </ul>
        </div>
          {% endif %}
        <div class="col-sm-8 col-md-7 py-4">
          <h4>توضیح اجمالی</h4>
          <p class="text-body-secondary">شما در این سایت میتونید کلید های هوشمند خودتون رو با توجه به آدرس مک کلید اضافه کنید و اون رو از طریق همین سایت مدیریت کنید، کلید باید به اینترنت وصل باشه</p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">

    <div class="container">
      <strong>{% now "d/m/Y - H:i" %}</strong>
      {% if request.user.is_authenticated %}
        <strong>Hello {{ request.user }}</strong>
      {% else %}
        <a style="margin-left: 5%" href="{% url 'accounts:user_signin' %}" class="btn btn-secondary">Signin</a>
      {% endif %}
      <button style="margin-left: 70%" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>